{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Log In
{%endblock head_title %}

{%block add_head %}
<meta name="robots" content="noindex">
{% endblock add_head %}


{% block saep%}

<div class=" text-center fw-lighter">
    <p class="small">By proceeding, you agree to our <a href="{%url 'pages:terms-service' %}" class="link-light">Terms of Service</a> and <a href="{%url 'pages:privacy-policy' %}" class="link-light">Privacy Policy</a>.</p>
    <a href="{% provider_login_url 'google' %}" ><img class=" mx-2" src="{% static 'img/social/google/google.png' %}" alt="Google logo" ></a>
    <a href="{% provider_login_url 'twitter' %}" ><img class=" mx-2" src="{% static 'img/social/twitter/twitter.png'%}" alt="Twitter logo"></a>          
</div>
<div class=" text-center">
    <form method="post">
        {% csrf_token %}
        {{form|crispy }}
        <p class="fs-6 fw-lighter"><a href="{% url 'account_reset_password' %}" class="small link-light">Forgot Password</a></p>
        <button type="submit" class="btn btn-smd-primary w-100 ">Log In</button>
    </form>
    <p class="small py-2">New to Speed Maths Drills. <a href="{% url 'account_signup' %}" class="link-light">Sign Up</a></p>

</div>

{% endblock saep %}
