{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Log Out
{%endblock head_title %}

{%block add_head %}
<meta name="robots" content="noindex">
{% endblock add_head %}


{% block saep%}
    <p class="small text-center">Practice makes permanent. See you later</p>
    <form method="post" action="{% url 'account_logout' %}" class="text-center">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-smd-primary ">Log Out</button>
    </form>

  
{% endblock saep %}
