{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block head_title%}Set Password
{% endblock head_title %}
{%block add_head %}
<meta name="robots" content="noindex">
{% endblock add_head %}


{% block saep %}
<form method="post" action="{% url 'account_set_password' %} " class="text-center">
    {% csrf_token %}
    {{form|crispy }}
    <button type="submit" name="action" class="btn btn-smd-primary ">Set Password</button>
</form>

{% endblock saep %}
