{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Change Password
{%endblock head_title %}

{% block main%}

<div class="container col-sm-4 px-4 py-5">
    <h2>{% if token_fail %}Whoops Bad Token{% else %}Change Password{% endif %}</h2>
    <div class="container-sm">
        {% if token_fail %}       
        <p>The password reset link did not work. Let's <a href="{% url 'account_reset_password'%}">try again</a>.</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy}}
            <button type="submit" name="action" class="btn btn-success w-100 ">change password</button>
        </form>
    {% endif %}
        <p class="small py-3">If you're having trouble, contact our customer service team at contact@speedmathsdrills.com.</p>
    </div>
</div>

{% endblock main %}
