{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Reset Password
{%endblock head_title %}
{%block add_head %}
<meta name="robots" content="noindex">
{% endblock add_head %}

{% block saep%}

<h2 class="text-center">Reset Password</h2>
<p class="small text-center">Enter your email to reset your password</p>    
<form method="post" action="{% url 'account_reset_password' %}" class="text-center">
    {% csrf_token %}
    {{form|crispy }}
    <button type="submit" class="btn btn-smd-primary  ">Reset password</button>
</form>
<p class="small mt-2">Stuck? email us at contact@speedmathsdrills.com</p>

{% endblock saep %}
