{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Reset Password
{%endblock head_title %}

{% block saep%}

<h2>Check your mail</h2>
<p>We've sent you an email with a link to reset your password.</p>
<p>If you can't find it. It may be in your spam.</p>
<p>Don't have an account? <a href="{% url 'account_signup' %}" class="link-light"> Sign Up</a></p>    
<a href="{% url 'account_reset_password' %}" class="btn btn-smd-primary w-100 ">Reset Again</a>
<p class="small py-3">Stuck? email us <span class="small">contact@speedmathsdrills.com</span></p>

{% endblock saep %}
