{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Reset Password
{%endblock head_title %}

{% block main%}

<div class="container col-sm-4 px-4 py-5">
    <div class="container-sm">
        <h2>Check your email inbox</h2>
        <p>We've sent you an email to reset your password. Please follow the instructions in this email</p>
        <p>If you can't find the email in your inbox or spam folder, please try resetting again</p>
        <p>Don't have an account? <a href="{% url 'account_signup' %}" class="link-light"> Sign Up</a></p>    
        <a href="{% url 'account_reset_password' %}" class="btn btn-smd-primary w-100 ">Reset Again</a>
        <p class="small py-3">If you are still having trouble, contact our customer service team at contact@speedmathsdrills.com.</p>
    </div>
</div>

{% endblock main %}
