{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Reset Password
{%endblock head_title %}

{% block main%}

<div class="container col-sm-4 px-4 py-5">
    <div class="container-sm">
        <h2>Reset Password</h2>
        <p class="small">Forgot your password? Enter your email address and we’ll send you a link to create a new one.</p>    
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{form|crispy }}
            <button type="submit" class="btn btn-success w-100 ">Reset password</button>
        </form>
        <p class="small py-3">If you are still having trouble, contact our customer service team at contact@speedmathsdrills.com.</p>
    </div>
</div>

{% endblock main %}
