{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Change Password
{%endblock head_title %}

{% block saep%}

<h2 class="text-center">{% if token_fail %}Whoops Bad Token{% else %}Change Password{% endif %}</h2>
{% if token_fail %}       
    <p>The password reset link did not work. Let's <a href="{% url 'account_reset_password'%}" class="link-light">try again</a>.</p>
{% else %}
    <form method="POST" action="{{ action_url }}" class="text-center">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" name="action" class="btn btn-smd-primary ">change password</button>
    </form>
{% endif %}
    <p class="small py-3">Stucke, email us at contact@speedmathsdrills.com</p>

{% endblock saep %}
