{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block head_title%}Set Password
{% endblock head_title %}

{% block main %}
<div class="container col-sm-4 px-4 py-5">
    <div class="container-sm">
        <form method="post" action="{% url 'account_set_password' %}">
            {% csrf_token %}
            {{form|crispy }}
            <button type="submit" name="action" class="btn btn-success w-100 ">Set Password</button>
        </form>
    </div>
</div>

{% endblock main %}
