{% extends "account/_standard_account_email_password.html" %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}User Settings
{%endblock head_title %}

{% block saep%}

    <h5 class="mt-2 text-center">Account settings</h5>
    <div class="py-4 my-4 border-top">
        <div class="row align-items-between p-1">
            <div class="col ">Change password</div>
            <div class="col-2 text-end "><a href="{% url 'account_change_password' %}" class="btn btn-smd-primary ">Change</a></div>
        </div>
        <div class="row align-items-between p-1">
            <div class="col">Verify email</div>
            <div class="col-2 text-end "><a href="{% url 'account_email' %}" class="btn btn-smd-primary ">Verify</a></div>
        </div>
        <div class="row align-items-between p-1">
            <div class="col ">Connect social accounts</div>
            <div class="col-2 text-end "><a href="{% url 'socialaccount_connections' %}" class="btn btn-smd-primary ">Connect</a></div>
        </div>
    </div>

{% endblock saep %}
