{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Confirm Email
{%endblock head_title %}
{%block add_head %}
<meta name="robots" content="noindex">
{% endblock add_head %}


{% block saep%}

<h2 class="text-center m-1 mb-4">Verify your email address</h2>
<p class="m-1">We've sent you an email for verification. Please click the linke to finish.</p>
<p class="small py-3">Stuck? email us at contact@speedmathsdrills.com</p>

{% endblock saep %}