{% extends "account/_standard_account_email_password.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{%block head_title %}Verify Email
{%endblock head_title %}
{%block add_head %}
<meta name="robots" content="noindex">
{% endblock add_head %}

{% block saep%}

{% url 'account_email'%}
<h2 class="text-center mb-3 m-1">Verify your email address</h2>
<p class="m-1">You need a verified email to proceed further. We have sent you an email for verification. Please click on the link in the email</p>

<p class="small py-3">Stuck? email us at contact@speedmathsdrills.com</p>

{% endblock saep %}
