<div class="py-2 small">
    <div class="d-flex justify-content-evenly ">
      <div class="">1</div>
      <div class="">2</div>
      <div class="">3</div>
    </div>
    <div class="d-flex justify-content-evenly ">
      <div class="">4</div>
      <div class="">5</div>
      <div class="">6</div>
    </div>
    <div class="d-flex justify-content-evenly">
      <div class="">7</div>
      <div class="">8</div>
      <div class="">9</div>
    </div>
    <div class="d-flex justify-content-evenly">
      <div class="">C</div>
      <div class="">0</div>
      <div class="">DEL</div>
    </div>
  </div>
