<div class="drill-select row p-1 mb-1 justify-content-evenly">
    <div class="col-10 col-sm-10 col-md-8 text-center">
        <div x-data class="" role="group">
            <div class="row justify-content-start">
                <input type="radio" class="drill-practice-radio btn-check" name="drill-practice-radio" id="drillRadio"  checked
                    hx-post="{% url 'drills:drill-session' %}" hx-swap="outerHTML" hx-trigger="change" hx-target=".drill-practice-display"
                 x-on:change="$store.stateSessionChoice.reset">
               <label class="mx-1 btn btn-sm btn-outline-sessionChoice rounded-pill w-25" for="drillRadio"  >Drills</label>
                 <input type="radio" class="drill-practice-radio btn-check" name="drill-practice-radio" id="practiceRadio" 
                    hx-post="{% url 'drills:practice-session' %}" hx-swap="outerHTML" hx-trigger="change" hx-target=".drill-practice-display" 
                    x-on:change="$store.stateSessionChoice.reset" >
                <label class="mx-1 btn btn-sm btn-outline-sessionChoice rounded-pill w-25" for="practiceRadio">Test</label>
            </div>
        </div>
    </div>
</div>
<div class="drill-practice-display row p-1 justify-content-evenly" hx-get="{% url 'drills:drill-session' %}" hx-trigger="load once" hx-swap="outerHTML">
</div>
