{%extends "_base.html" %}
{% load static %}
{%block head_title%}
Speed Maths Drills
{%endblock head_title%}


{%block main%}

{% if user.is_authenticated %}
<main>
  <div class="drill-select row text-dark p-1 justify-content-evenly" hx-get="{% url 'drills:universal-drills' %}" hx-trigger="load once" hx-swap="outerHTML">
      <div class="col-5 align-self-center">
        <select class="form-select" id="drill-selector">
          <option class="drill-name" data-uuid="dummy" value="Drills" selected>Choose</option>
        </select>
      </div>
      <div class="col -5 ">
        <div data-uuid="dummy" class="drill-details-display">
          <div class="d-flex flex-row align-items-center justify-content-evenly">
              <span class="border p-1"></span>
              <span class="border p-1"></span>
              <span class="border p-1">X</span> 
              <span class="border p-1">RS</span>
              <span class="border p-1">Play</span>
          </div>    
          <div class="d-flex flex-row align-items-center justify-content-evenly">
              <span class="border p-1"></span>
              <span class="border p-1"></span>
              <span class="border p-1">X</span> 
              <span class="border p-1">RS</span>
              <span class="border p-1">Stop</span>
          </div>                    
        </div>  
      </div>
  </div>
  <div class="row text-dark p-1 justify-content-evenly">
    <div class="col-10 border rounded-1">
      <div class="text-end display-4"><span class="display_first">0</span></div>
      <div class="text-end display-4  border-bottom border-1"><span class="display_operation">+</span>  <span class="display_second">0</span></div>
      <div class="text-end display-4  border-bottom border-1"><span class="display_result">?</span></div>
      <div class="py-2 small">
        <div class="d-flex justify-content-evenly ">
          <div class="">1</div>
          <div class="">2</div>
          <div class="">3</div>
        </div>
        <div class="d-flex justify-content-evenly ">
          <div class="">4</div>
          <div class="">5</div>
          <div class="">6</div>
        </div>
        <div class="d-flex justify-content-evenly">
          <div class="">7</div>
          <div class="">8</div>
          <div class="">9</div>
        </div>
        <div class="d-flex justify-content-evenly">
          <div class="">C</div>
          <div class="">0</div>
          <div class="">DEL</div>
        </div>
      </div>
    </div>
  </div>
</main>
{% else %}
<main>
  <div class="px-4 py-5" >
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Get faster at mental maths</h1>
        <p class="col-lg-10 fs-5">Whether you need to <strong>ace an entrace test</strong>, <strong>clear an interview</strong>, or just want to get faster at arithmetic, Speed Maths Drills will help you do it</p>

      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3" action="https://formspree.io/f/mwkzbjed" method="post" id="waitlist-form">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <button class="w-100 btn btn-primary" id="waitlist-submit">Get early access</button>
          <div id="waitlist-form-status" ></div>
          
        </form>
      </div>
    </div>
  </div>
</main>
{% endif %}
{%endblock main%}
