{%extends "_base.html" %}
{% load static %}
{%block head_title%}
Speed Maths Drills
{%endblock head_title%}


{%block main%}

{% if user.is_authenticated %}
<main>
  <div class="drill-select row text-dark p-1 justify-content-evenly">
    <div class="col-10 text-center">
     <div class="btn-group" role="group">
      <input type="radio" class="drill-practice-radio btn-check" name="drill-practice-radio" id="drillRadio"  checked hx-post="{% url 'drills:drill-session' %}" hx-swap="outerHTML" hx-trigger="change" hx-target=".drill-practice-display" ><label class="btn btn-outline-primary" for="drillRadio">Drill Session</label>
      <input type="radio" class="drill-practice-radio btn-check" name="drill-practice-radio" id="practiceRadio" hx-post="{% url 'drills:practice-session' %}" hx-swap="outerHTML" hx-trigger="change" hx-target=".drill-practice-display"  ><label class="btn btn-outline-primary" for="practiceRadio">Practice Session</label>
     </div>
    </div>
  </div>
  <div class="drill-practice-display row text-dark p-1 justify-content-evenly" hx-get="{% url 'drills:drill-session' %}" hx-trigger="load once" hx-swap="outerHTML">
  </div>
  {% include '_snippets/calculationDisplay.html' %}
  
  {% include '_snippets/keypad.html' %}
</main>
{% else %}
<main>
  <div class="px-4 py-5" >
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Get faster at mental maths</h1>
        <p class="col-lg-10 fs-5">Whether you need to <strong>ace an entrace test</strong>, <strong>clear an interview</strong>, or just want to get faster at arithmetic, Speed Maths Drills will help you do it</p>

      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3" action="https://formspree.io/f/mwkzbjed" method="post" id="waitlist-form">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <button class="w-100 btn btn-primary" id="waitlist-submit">Get early access</button>
          <div id="waitlist-form-status" ></div>          
        </form>
      </div>
    </div>
  </div>
</main>
{% endif %}
{%endblock main%}
