{%extends "_base.html" %}
{% load static %}
{%block head_title%}
Speed Maths Drills
{%endblock head_title%}


{%block main%}

{% if user.is_authenticated %}
<main>
  {% include '_snippets/sessionChoice.html' %}

  {% include '_snippets/calculationDisplay.html' %}
  
  {% include '_snippets/keypad.html' %}
  
</main>
{% else %}
<main>
<div class="row  p-1 justify-content-evenly bg-pure-black text-white">
  <div class="col-10 col-sm-10 col-md-8 p-0 text-start">
    <h1 class="display-4 fw-bold lh-1 mb-5 text-center">Ace any maths test</h1>
    <p class="my-4">You know it's about <strong>speed and accuracy</strong>. Every second you save while calculating and every second you save in not needing to check, adds up.</p>
    <p class="mt-4"> All those seconds saved can be the difference between a good college and a great college. It could be the difference between a great year and having to do it all over. 
      You don't want to be <strong>wishing you had done things differently</strong>. I know that feeling. It sucks!</p>
  </div>
  <div class="col-10 col-sm-10 col-md-8 p-0 text-start">
    <p class="mt-3 mb-4">You know you have to practice. Practice makes permanent.</p>

    <div class=" text-center">
      <a href="{% url 'account_signup' %}" class="mt-3 btn-smd-primary btn" >Start Now</a>
    </div>

    <p class="mt-5">With each session, your brain will wrap your neural circuits with myelin, over and over, making you <strong>better and faster</strong>. You will know it's happened when you're no longer thinking but just doing!</p>
    <p class="mt-4">That is the end goal, but it doesn't come easy.  Faster, more accurate, more time, less stress - that's what a great performance looks like.</p>
    <p class="mt-4">For that you need a solid foundation. Memorize mulitplication tables till 20 at least, 30 is better. Add Squares, Cubes and Fractions till 30 too. And then practice daily for 20 minutes until you're just doing (not thinking) and then 5 minutes daily until your test. Or do what works best for you.</p>
    <p class="mt-4">Check out the video below to see how it works or just try it out now</p>
  </div>
  <div class=" my-3 text-center">
    <a href="{% url 'account_signup' %}" class="mt-3 mb-3 btn-smd-primary btn" >Try Now</a>
  </div>
</div>
<div class="my-3 row text-center p-1 justify-content-evenly bg-pure-black text-white">
  <div class="col-10 col-sm-10 col-md-8 p-0 text-start">
    <div class="p-0 text-center align-middle">
      <div class="ratio ratio-16x9">
        <iframe  src="https://www.youtube.com/embed/b21aspL9arc"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
    </div>
    <div class="my-5 p-0 text-start align-middle">
      <p>All the best for your test!</p>
    </div>
    <div class="text-center">
      <a href="{% url 'account_signup' %}" class="btn-smd-primary btn" >Start Now</a>
    </div>
  
  </div>
  
</div>


</main>
{% endif %}
{%endblock main%}
