{%extends "_base.html" %}
{%block head_title%}
Pricing
{%endblock head_title%}

{%block main%}
<div class="row justify-content-center">
    <div class=" m-1 mt-3">
        <h2 class="mt-2 text-center mb-2">Pricing</h2>
        <p class="mt-3 mb-5">
            You automatically get a 14 day free trial (no payment information required) when you sign up. At the end of the trial period you can choose to go ahead with a monthly subscription plan or a yearly subscription plan. You can also continue with the free plan which is limited. 
        </p>
        <div class="row align-items-between p-1">
            <div class="col ">Monthy Plan - 3.5 USD/ 3 GBP/ 3.5 EUR/ 250 INR  per month</div>
            <div class="col-2 text-end "><a href="{% url 'pages:pricing-month'%}" class="btn btn-smd-primary ">Subscribe</a></div>
        </div>
        <div class="mt-3 row align-items-between p-1">
            <div class="col ">Yearly Plan - 24 USD/ 20 GBP/ 24 EUR/ 1950 INR per year</div>
            <div class="col-2 text-end "><a href="{% url 'pages:pricing-year' %}" class="btn btn-smd-primary ">Subscribe</a></div>
        </div>
    </div>    
</div>
<form action="/pricingform/" method="post">
    {% csrf_token %}
    {{form}}
   
</form>
{%endblock main%}
