{%load static%}
<div class="drill-practice-display row text-dark  p-1 justify-content-evenly">
 
    <div class="col-6 border rounded p-0 text-center align-middle small">
        <div data-uuid="dummy" class="drill-details-display">
            <div class="d-flex flex-row justify-content-between overflow-auto">
                <div class="p-1 flex-fill drill_first_param_start">..</div>
                <div class="p-1 flex-fill drill_first_param_end">..</div>             
                <div class="p-1 flex-fill"><label>Not Random </label><input type="checkbox" class="drill_first_param_random" value=""></div>
                <div class="p-1 flex-fill" ><img class="drill_play_button" src="{% static 'img/icon/play-outline.svg' %}" width="20"></div>
                <div class="d-none drill_operation">..</div>
            </div>    
            <div class="d-flex flex-row justify-content-between overflow-auto">
                <div class="p-1 flex-fill drill_second_param_start">..</div>
                <div class="p-1 flex-fill drill_second_param_end">..</div>
                <div class="p-1 flex-fill "></div>
                <div class="p-1 flex-fill"><img class="drill_next_button" src="{% static 'img/icon/play-skip-forward-outline.svg' %}" width="20"></div>
            </div>                    
        </div>
    </div>    
</div>