{%load static%}
<div class="row text-dark p-1 justify-content-evenly small">
{% if all_drills %}

<div class="col-5">
{% for drill in all_drills %}
    <div class="drill-name" id="{{drill.name}}">{{drill.name}}</div>
{%endfor%}
</div>

<div class="col-5">
    {% for drill in all_drills %}
    <div id="{{drill.name}}_details drill-details" class="d-none">
        <div class="d-flex flex-row align-items-center justify-content-evenly">
            <span class="border p-1"> {{drill.first_param_start}}</span>
            <span class="border p-1">{{drill.first_param_end}}</span>
            <span class="border p-1">X</span> 
            <span class="border p-1">RS</span>
            <span class="border p-1">Play</span>
        </div>    
        <div class="d-flex flex-row align-items-center justify-content-evenly">
            <span class="border p-1"> {{drill.second_param_start}}</span>
            <span class="border p-1">{{drill.second_param_end}}</span>
            <span class="border p-1">X</span> 
            <span class="border p-1">RS</span>
            <span class="border p-1">Stop</span>
        </div>                    
    </div>
    {%endfor%}
</div>

{% endif %}
</div>    